<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
	<a class="sidebar-brand d-flex align-items-center jusify-content-center" href="/">
		<div class="sidebar-brand-icon rotate-n-15">
			<i class="fas fa-laugh-wink"></i>
		</div>
		<div class="sidebar-brand-text mx-3">Cerberus</div>
	</a>
	<hr class="sidebar-divider my-0">
	<li class="nav-item">
		<a class="nav-link" href="/panel">
			<i class="fas fa-fw fa-tachometer-alt"></i>
			<span>Dashboard</span>
		</a>
	</li>

	<hr class="sidebar-divider">
	<div class="sidebar-heading">
		Public Alerts
	</div>

	<li class="nav-item">
		<a class="nav-link" href="/live">
			<i class="fas fa-fw fa-heartbeat"></i>
			<span>Live Console</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link collapsed" data-toggle="collapse" data-target="#database" aria-expanded="true" aria-controls="database">
			<i class="fas fa-fw fa-server"></i>
			<span>Database</span>
		</a>
		<div id="database" class="collapse" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">Lookup:</h6>
				<a class="collapse-item" href="/database/servers">Servers</a>
				<a class="collapse-item" href="/database/users">Users</a>
			</div>
		</div>
	</li>
	<hr class="sidebar-divider">
	<div class="sidebar-heading">
		Metrics
	</div>
	<li class="nav-item">
		<a class="nav-link href="/stats">
			<i class="fas fa-fw fa-table"></i>
			<span>Statistics</span>
		</a>
	</li>
	<hr class="sidebar-divider d-none d-md-block">
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>
</ul>
